# Dependencies
node_modules/
sc-styleurban/frontend/node_modules/
sc-styleurban/backend/node_modules/

# Build outputs
sc-styleurban/frontend/dist/
sc-styleurban/frontend/dist-ssr/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
*.local
.env
.env.local
.env.*.local
sc-styleurban/backend/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database (development only)
sc-styleurban/backend/db.json

# Vercel
.vercel

