.curved-loop-jacket {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A5CFF;
    padding: 0.25rem 0;
    overflow: hidden;
}

.curved-loop-svg {
    user-select: none;
    width: 100%;
    overflow: visible;
    display: block;
    font-size: 24px;
    fill: #ffffff;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}